# Entorno virtual
venv/
.venv/

# Archivos compilados
__pycache__/
*.py[cod]

# Base de datos local (opcional)
db.sqlite3

# Archivos de configuración personal
*.log
*.env

# Archivos de sistema
.DS_Store
Thumbs.db